*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: rgb(47, 18, 80);
}
h1{
    text-align: center;
}

.galery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    transition: grid-template-columns .3s;
    border: 12px solid violet;
  
}  

div{
    height: 600px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galery:has(.img-l:hover){
   grid-template-columns: 2fr .5fr .5fr;
}

.galery:has(.img-c:hover){
    grid-template-columns: .5fr 2fr .5fr;
}
.galery:has(.img-r:hover){
    grid-template-columns: .5fr .5fr 2fr;
} 
